<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ссылки. Переходы</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2 name="top">CSS</h2>
 <ul>
     <li class="item1"><a href="index2.html" target="_blank">Ресурс в новом окне</a></li>
     <li class="item2"><a href="#" title="Подсказка">Подсказка при наведении</a></li>
     <li class="item3"><a href="https:/ya.ru">Внешняя страница</a></li>
     <li class="item12"><a href="mailto: tdmitrievskaya.mmtr">Отправить email?</a></li>
 </ul>     
 
</body>
</html>