<!doctype html>
<html>
    <head>
        <title>Таблица №1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
       <table>
           <caption>Домашняя библиотека</caption>
           <tr>
               <th class="right">№ п/п</th>
               <th>Автор</th>
               <th>Наименование</th>
               <th class="right">Год</th>
               <th class="right">Полка</th>
           </tr>
           <tr>
               <td class="right">1</td>
               <td>Беляев А.Р.</td>
               <td>Человек-амфибия</td>
               <td class="right">1928</td>
               <td class="right">5</td>
           </tr>
           <tr>
               <td></td>
               <td></td>
               <td>Прыжок в ничто</td>
               <td class="right">1933</td>
               <td class="right">5</td>
           </tr>
           <tr>
              <td></td>
               <td colspan="4" class="other"> Другие произведения Беляева А.Р. ....</td>
           </tr>
           <tr>
               <td class="right">2</td>
               <td>Кервуд Д.</td>
               <td>Бродяги севера</td>
               <td class="right">1991</td>
               <td class="right">7</td>
           </tr>
           <tr>
               <td class="right">3</td>
               <td>Тургенев И.С.</td>
               <td>Повести и рассказы</td>
               <td class="right">1982</td>
               <td class="right">1</td>
           </tr>
           <tr>
               <td class="right">4</td>
               <td>Олеша Ю.К.</td>
               <td>Избранное</td>
               <td class="right">1987</td>
               <td class="right">5</td>
           </tr>
           <tr>
               <td class="right">5</td>
               <td>Беляев А.Р.</td>
               <td>Звезда КЭЦ</td>
               <td class="right">1990</td>
               <td class="right">5</td>
           </tr>
           <tr>
               <td class="right">6</td>
               <td>Тынянов Ю.Н.</td>
               <td>Кюхля</td>
               <td class="right">1979</td>
               <td class="right">1</td>
           </tr>
           <tr>
               <td class="right">7</td>
               <td>Толстой Л.Н.</td>
               <td>Повести и рассказы</td>
               <td class="right">1986</td>
               <td class="right">7</td>
           </tr>
           <tr>
               <td colspan="5" class="footer">
                   <p>Источники: ...</p>
                   <p>&#169 Дмитриевская Т.В.</p>
                </td>
           </tr>

        </table>
    </body>    
</html>