:root {
    --colorBorder: 1px solid #13c208;
}

.table {
    counter-reset: cellNumber;
    border-collapse: collapse;
    color: #039;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    text-align: right;
}

.table__caption {
    text-transform: uppercase;
    padding: 10px;
}

.table__row {
    padding: 10px 15px;
}

.table__row_header {}

.table__row_body {}


.table__row_body:nth-child(2n+1) {
    background: rgba(194, 194, 242, 0.17);
}

.table__row_body--name:not(:nth-child(2n)) {
    background: #fff;
}

.table__row_footer {}

.table__cell {
    border: var(--colorBorder);
    padding: 10px 20px;
}

.table__cell_body--number {
    counter-increment: cellNumber;
}

.table__cell_body--number:first-child::before {
    content: counter(cellNumber);
    margin-right: 20px;

}

.table__cell_header {
    font-weight: normal;
    text-transform: uppercase;
    border: var(--colorBorder);
    padding: 20px;
}

.table__cell_footer {
    text-align: left;
}

.table__cell_header--direction_left {
    text-align: left;
}

.table__cell_body--direction_left {
    text-align: left;
}

.table__cel_body--other {
    padding: 20px;
}