.right{
    text-align: right;
}
table {
font-size: 15px;
   border: 1px solid #13c208;
   text-align: left;
   max-width: 70%;
   font-family: 'Roboto Mono', monospace;
}
th {
font-weight: normal;
  color: #039;
  text-transform: uppercase;
  border: 1px solid #13c208;
  border-bottom: 1px solid #fff;
  padding:20px;
}
td {
  color: #669;
  border-right: 1px dashed #13c208;
  padding: 10px 20px;
  transition: .3s linear;
}

tr:hover td{
   background: rgba(194, 194, 242, 0.17);
}
caption{
    color:#039;
    text-transform: uppercase;
    font-stretch:ultra-condensed;
    padding: 20px;
}
.other{
    border: 1px dashed #13c208;
    border-top: 1px dashed #fff;
    color:rgba(0, 51, 153, 0.46);

}
.footer{
    border:1px solid #13c208;
}
    